<div id="aw" class="section pb-120 pt-80">
  <div class="container">
      <div class="row">
          <div class="section-title section-title-dark text-center col-xs-12 mb-80">
              <h1>Felhívás</h1>
          </div>
      </div>
    <div class="row">
      <div class="warn-container">
          <div class="w-text-area">
              <p style="font-weight: 400;"><strong>Tisztelt L&aacute;togat&oacute;nk!</strong></p>
              <p style="font-weight: 400;">&nbsp;Az Eur&oacute;pai Parlamenti &eacute;s az őszi Helyhat&oacute;s&aacute;gi (&ouml;nkorm&aacute;nyzati) v&aacute;laszt&aacute;sok tisztas&aacute;g&aacute;nak megőrz&eacute;se miatt szavaz&oacute;k&ouml;ri biztosok jelentkez&eacute;s&eacute;t v&aacute;rjuk!</p>
              
              <p style="font-weight: 400;"><em>Őrizz&uuml;k meg a v&aacute;laszt&aacute;sok tisztas&aacute;g&aacute;t!</em></p>
              
              <p style="font-weight: 400;">Jelentkez&eacute;s&eacute;t &eacute;s egy&eacute;b k&eacute;rd&eacute;s&eacute;t az al&aacute;bbi email c&iacute;mre v&aacute;rjuk:</p>
              
              <p style="font-weight: 400;"><a href="mailto:kapcsolat@ujkezdet.hu">kapcsolat@ujkezdet.hu</a></p>
            </div>
            <div class="w-img-area">
              <img src="img/valasztasi_doboz.jpg" alt="">
            </div>
      </div>
    </div>
  </div>
  
</div>