<div id="conference" class="section pb-120 pt-60">
  <div class="container">
      <div class="row">
          <div class="section-title section-title-dark text-center col-xs-12 mb-80">
              <h1>Konferencia felhívás</h1>
          </div>
      </div>
    <div class="row">
      <div class="press-container">
          
            <p><img src="img/marriott_conf.jpg" alt="" style="padding-right: 10px">
              <span style="font-size: 22px">„Választások és dezinformáció: a külföldi beavatkozás mint politikai hadviselés”</span><br /><br />
              Várunk minden érdeklődőt szeretettel. A részvétel ingyenes de regisztrációhoz kötött.<br /><br />
              <a href="img/konf.jpg" target="_blank">További információ az alábbi linken elérhető.</a><br /><br />
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScNMly1Zkcqzzpu-HYOgaPBkCZD-6FEouJDeITfKQ1UU7wtkg/viewform?usp=sf_link" target="_blank">Regisztrációhoz kérem kattintson ide!</a><br /><br />
              <a href="img/konf_eng.jpg" target="_blank">More information...</a><br />
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScNMly1Zkcqzzpu-HYOgaPBkCZD-6FEouJDeITfKQ1UU7wtkg/viewform?usp=sf_link" target="_blank">Click here to register.</a>
            </p>
            </div>
    </div>
  </div>
  
</div>