<div id="aw" class="section pb-80 pt-80">
    <div class="container">
        <div class="row">
            <div class="section-title section-title-dark text-center col-xs-12 mb-80">
                <h1>Manifesztum</h1>
            </div>
        </div>
      <div class="row">
        <div class="text-center">
          <a href="files/edp/manifesto_hu_v4.pdf" style="font-size: 1.8em;">Letöltés</a>
        </div>
        <div class="text-center w-img-area">
            <a href="files/edp/manifesto_hu_v4.pdf"><img src="img/edp/m_intro.jpg" alt="Manifesztum - 2021"></a>
        </div>
        <!--<div class="text-center"><a href="files/pdf/tarsadalmi_szerzodes.pdf" class="btn btn-xlg">A társadalmi szerződés letöltéséhez kattintson ide! <i class="zmdi zmdi-long-arrow-right"></i></a></div>-->
      </div>
    </div>
</div>