<div id="aw" class="section pb-120 pt-80">
    <div class="container">
        <div class="row">
            <div class="section-title section-title-dark text-center col-xs-12 mb-80 mzp-title">
                <h1>Állásfoglalás Márki-Zay Péter támogatásáról</h1>
            </div>
        </div>
      <div class="row">
        <div class="text-center dl-text-area">
          <a href="files/pdf/mzp_tamogatas.pdf" style="font-size: 1.8em;">Kérem, kattintson az alábbi ikonra a letöltéshez!</a>
        </div>
        <div class="text-center dl-icon-area">
            <a href="files/pdf/mzp_tamogatas.pdf"><img src="img/icon/uk-download-1.jpg" alt="Állásfoglalás"></a>
        </div>
        <!--<div class="text-center"><a href="files/pdf/tarsadalmi_szerzodes.pdf" class="btn btn-xlg">A társadalmi szerződés letöltéséhez kattintson ide! <i class="zmdi zmdi-long-arrow-right"></i></a></div>-->
      </div>
    </div>
</div>