<div id="press" class="section pb-120 pt-60">
  <div class="container">
      <div class="row">
          <div class="section-title section-title-dark text-center col-xs-12 mb-80">
              <h1>Sajtóközlemény</h1>
          </div>
      </div>
    <div class="row">
      <div class="press-container">
          
            <p><img src="img/fake-news.jpg" alt="">
                Az Új Kezdet Párt határozottan visszautasítja a Magyar Nemzet és az Echo TV azon állítását, mely szerint csatlakozott volna a Guy Verhofstadt-féle ALDE párthoz.<br />
                Bár az Európai Parlamentben az EDP és az ALDE egy frakcióban ülnek, két különálló pártról van szó, nézeteik számos kérdésben különbözőek.<br />
                Az Új Kezdet semmilyen tekintetben nem áll szövetségben az ALDE- val sem most, sem a jövőben!
                <br />
                Az Új Kezdet Pártot az Európa Demokrata Párt rendes tagjává választották meg, melyről az Új Kezdet Párt be is számolt.<br />
                Az Új Kezdet Párt továbbra is fontosnak tartja a migrációs válság oly kezelését, mely azt szorgalmazza, hogy az Európai Unió helyben kezelje  a problémát, ezzel is csökkentve a migrációt. Az EDP tagsága között több olyan párt van ,melyek határozott fellépést  szorgalmaznak az EU-n belül a migráció visszaszorítása érdekében! 
                <br /><br />
                A fent említett sajtóorgánumok sem az Új Kezdet elnökét, sem  a párt munkatársait nem keresték meg.<br />
                Ezért hamisnak és azt szándékosan megtévesztőnek ítéljük, melytől elhatárolódunk!<br /><br />
                
                Új Kezdet Elnöksége
            </p>
            </div>
    </div>
  </div>
  
</div>