<div id="aw" class="section pb-120 pt-80">
    <div class="container">
        <div class="row">
            <div class="section-title section-title-dark text-center col-xs-12 mb-80">
                <h1>Társadalmi szerződés</h1>
            </div>
        </div>
      <div class="row">
          <div class="text-justify">
            Az Új Kezdet Párt meggyőződése hogy a 2022-es országgyűlési választásokon, a teljes demokratikus ellenzéknek a legvégén meg kell találni az egyéni választókerületekben az együttesen támogatott  jelölteket, amiben  kompromisszumot kell találnia majd a parlamenti és parlamenten kívüli ellenzéknek. Az Új Kezdet minden demokratikus tisztességes és ellenzéki erőt bátorít arra, hogy az együttműködés minimum protokollját fogadják el, amire a Társadalmi Szerződés formájában, 2020 áprilisában már javaslattal fordult a parlamenti ellenzéki pártok felé.  A Társadalmi Szerződés egy nyílt dokumentum,  amihez minden csatlakozót szívesen lát az Új Kezdet Párt. Az Új Kezdet meggyőződése, hogy a jelenlegi hatalom leváltásához nélkülözhetetlen a hiteles nemzeti konzervatív oldal markáns megjelenése, és  hogy egy kétpólusú politikai opció kialakulása zsákutcába vezet.
          </div>
        <div class="text-center"><i>A társadalmi szerződéssel kapcsolatos információkért, illetve a szerződés letöltéséhez kérjük, kattintson a képre!</i></div>
        <div class="text-center w-img-area">
            <a href="files/pdf/tsz-20201106.pdf"><img src="img/tsz.jpg" alt="Társadalmi szerződés"></a>
        </div>
        <!--<div class="text-center"><a href="files/pdf/tarsadalmi_szerzodes.pdf" class="btn btn-xlg">A társadalmi szerződés letöltéséhez kattintson ide! <i class="zmdi zmdi-long-arrow-right"></i></a></div>-->
      </div>
    </div>
</div>