<div id="aw" class="section pb-80 pt-120">
    <div class="container">
        <div class="row">
            <div class="section-title section-title-dark text-center col-xs-12 mb-80 mzp-title">
                <h1>Vajda Zoltán az Országgyűlés Költségvetési Bizottságának elnöke lett</h1>
            </div>
        </div>
      <div class="row">
          <div class="text-justify">
            Az Új Kezdet a 2021. évi Előválasztás során 40 jelöltet támogatott, amelyek közül 17-en az első helyen végeztek, így az Egységben Magyarországért pártszövetség jelöltjeként indultak a 2022 áprilisi országgyűlési választáson. Közülük 7-en szereztek mandátumot és országgyűlési képviselőként a pártszövetséget alkotó pártok képviselő csoportjaiban dolgoznak. Egyikük, Vajda Zoltán, a Magyar Szocialista Párt képviselő csoportjának tagjaként az Országgyűlés Költségvetési Bizottságának elnöke lett.
<br />Sok sikert és kitartást kívánunk parlamenti munkájukhoz!
          </div>
        <div class="text-center w-img-area">
            <img src="img/vajda_zoltan.jpg" alt="Vajda Zoltán">
        </div>
      </div>
    </div>
</div>